.header {
  font: 600 18px "Segoe UI", Ubuntu, Sans-Serif;
  fill: #2f80ed;
}

.italic {
  font-style: italic;
  font-size: smaller;
}

.text-gray {
  fill: #555;
}

.copyright {
  font-size: x-small;
  fill: #555;
}
